.nospace {
    padding: 0 !important;
    margin: 0 !important;
}
.mt0 {
    margin-top: 0;
}
.mb0 {
    margin-bottom: 0;
}
.mt {
    margin-top: $spacing;
}
.mts {
    margin-top: $spacing-small;
}
.mtl {
    margin-top: $spacing-large;
}
.mb {
    margin-bottom: $spacing;
}
.mbs {
    margin-bottom: $spacing-small;
}
.mbl {
    margin-bottom: $spacing-large;
}
.mr {
    margin-right: $spacing;
}
.mrs {
    margin-right: $spacing-small;
}
.mrl {
    margin-right: $spacing-large;
}
.ml {
    margin-right: $spacing;
}
.mls {
    margin-left: $spacing-small;
}
.mll {
    margin-left: $spacing-large;
}
.pt0 {
    padding-top: 0;
}
.pb0 {
    padding-bottom: 0;
}
.pt {
    padding-top: $spacing;
}
.pts {
    padding-top: $spacing-small;
}
.ptl {
    padding-top: $spacing-large;
}
.pb {
    padding-bottom: $spacing;
}
.pbs {
    padding-bottom: $spacing-small;
}
.pbl {
    padding-bottom: $spacing-large;
}
.pl {
    padding-left: $spacing;
}
.pls {
    padding-left: $spacing-small;
}
.pl0 {
    padding-left: 0;
}
.prl {
    padding-right: $spacing-large;
}
.pr {
    padding-right: $spacing;
}
.prs {
    padding-right: $spacing-small;
}
.pr0 {
    padding-right: 0;
}